./cityflow_workstation/.next
./cityflow_workstation/node_modules
./cityflow_workstation/.env.local
./cityflow_workstation/package-lock.json

./cityflow_executor/code

./cityflow_database/data
./cityflow_database/source
./cityflow_database/notebook


dev.sh
deploy.sh
*.env
*.env.local

.git
.DS_Store
*.log
*.tmp
.git
.gitignore
*package-lock.json


